<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
   
    <!--<add name="connstring" connectionString="Data Source=NEWMI;Initial Catalog=water; uid=sa;pwd=sjtumi!863" providerName="System.Data.SqlClient"/>-->
    <add name="connstring" connectionString="Data Source=localhost;Initial Catalog=GreenHouse;Integrated Security=True"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    

    <authorization>
      <allow users="*"/>
    </authorization>

    <!--<authentication mode="Forms">
      <forms loginUrl="login.aspx" timeout="2880" defaultUrl="SuperMain.aspx" />
    </authentication>-->



 
    
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="login.htm" />
        <!--<add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />-->
      </files>
    </defaultDocument>
    <staticContent>
    
    </staticContent>
  </system.webServer>

  
</configuration>
